In [1]:
## import pandas

import pandas as pd

In [9]:
## import 311 grievance data by submission method

submission_method_df = pd.read_csv("OCGS_grievances_by_submission_method.csv")
submission_method_df

,Unnamed: 0,2020 2nd Q,2020 3rd Q,2020 4th Q,2021 1st Q,2021 2nd Q,2021 3rd Q,2021 4th Q,2022 1st Q,2022 2nd Q,2022 3rd Q,2022 4th Q,2023 1st Q,2023 2nd Q,2023 3rd Q,2023 4th Q,2024 1st Q,2024 2nd Q,2024 3rd Q
0,Grievance Box,1385,1342,1264,1575,1576,1527,1410,1224,763,592,676,727,734,804,745,796,1061,922
1,Housing Services,282,235,15,62,58,39,199,309,291,122,228,286,288,342,234,160,130,210
2,Referrals,1,1,4,0,1,0,1,1,1,0,2,1,1,2,3,1,5,3
3,Walk-Ins,17,2,0,0,0,0,0,0,1,1,4,28,31,14,2,1,2,0
4,Mail,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,2,0
5,311,6639,6060,2961,4456,5949,6272,6479,7603,6040,5787,6135,8440,7696,9019,8809,10505,9509,7132
6,Emails,390,508,707,580,718,789,813,877,840,846,629,1071,654,821,836,1080,978,881
7,Total,8714,8148,4951,6673,8302,8627,8902,10014,7936,7348,7674,10556,9404,11002,10629,12543,11687,9148

In [11]:
## get info

submission_method_df.info

<bound method DataFrame.info of          Unnamed: 0  2020 2nd Q  2020 3rd Q  2020 4th Q  2021 1st Q  \
0     Grievance Box        1385        1342        1264        1575
1  Housing Services         282         235          15          62
2         Referrals           1           1           4           0
3          Walk-Ins          17           2           0           0
4              Mail           0           0           0           0
5               311        6639        6060        2961        4456
6            Emails         390         508         707         580
7             Total        8714        8148        4951        6673

   2021 2nd Q  2021 3rd Q  2021 4th Q  2022 1st Q  2022 2nd Q  2022 3rd Q  \
0        1576        1527        1410        1224         763         592
1          58          39         199         309         291         122
2           1           0           1           1           1           0
3           0           0           0           0           1           1
4           0           0           0           0           0           0
5        5949        6272        6479        7603        6040        5787
6         718         789         813         877         840         846
7        8302        8627        8902       10014        7936        7348

   2022 4th Q  2023 1st Q  2023 2nd Q  2023 3rd Q  2023 4th Q  2024 1st Q  \
0         676         727         734         804         745         796
1         228         286         288         342         234         160
2           2           1           1           2           3           1
3           4          28          31          14           2           1
4           0           3           0           0           0           0
5        6135        8440        7696        9019        8809       10505
6         629        1071         654         821         836        1080
7        7674       10556        9404       11002       10629       12543

   2024 2nd Q  2024 3rd Q
0        1061         922
1         130         210
2           5           3
3           2           0
4           2           0
5        9509        7132
6         978         881
7       11687        9148  >

In [15]:
## isolate the 311 calls row

specific_row = submission_method_df.iloc[5]
print(specific_row)

Unnamed: 0      311
2020 2nd Q     6639
2020 3rd Q     6060
2020 4th Q     2961
2021 1st Q     4456
2021 2nd Q     5949
2021 3rd Q     6272
2021 4th Q     6479
2022 1st Q     7603
2022 2nd Q     6040
2022 3rd Q     5787
2022 4th Q     6135
2023 1st Q     8440
2023 2nd Q     7696
2023 3rd Q     9019
2023 4th Q     8809
2024 1st Q    10505
2024 2nd Q     9509
2024 3rd Q     7132
Name: 5, dtype: object