In [1]:
## import pandas

import pandas as pd

In [ ]:
## import 311 grievance data by submission method

submission_method_df = pd.read_csv("OCGS_grievances_by_submission_method.csv")
submission_method_df

In [3]:
## get info

submission_method_df.info

<bound method DataFrame.info of          Unnamed: 0  2020 2nd Q  2020 3rd Q  2020 4th Q  2021 1st Q  \
0     Grievance Box        1385        1342        1264        1575
1  Housing Services         282         235          15          62
2         Referrals           1           1           4           0
3          Walk-Ins          17           2           0           0
4              Mail           0           0           0           0
5               311        6639        6060        2961        4456
6            Emails         390         508         707         580
7             Total        8714        8148        4951        6673

   2021 2nd Q  2021 3rd Q  2021 4th Q  2022 1st Q  2022 2nd Q  2022 3rd Q  \
0        1576        1527        1410        1224         763         592
1          58          39         199         309         291         122
2           1           0           1           1           1           0
3           0           0           0           0           1           1
4           0           0           0           0           0           0
5        5949        6272        6479        7603        6040        5787
6         718         789         813         877         840         846
7        8302        8627        8902       10014        7936        7348

   2022 4th Q  2023 1st Q  2023 2nd Q  2023 3rd Q  2023 4th Q  2024 1st Q  \
0         676         727         734         804         745         796
1         228         286         288         342         234         160
2           2           1           1           2           3           1
3           4          28          31          14           2           1
4           0           3           0           0           0           0
5        6135        8440        7696        9019        8809       10505
6         629        1071         654         821         836        1080
7        7674       10556        9404       11002       10629       12543

   2024 2nd Q  2024 3rd Q
0        1061         922
1         130         210
2           5           3
3           2           0
4           2           0
5        9509        7132
6         978         881
7       11687        9148  >

In [4]:
## isolate the 311 calls row

specific_row = submission_method_df.iloc[5]
print(specific_row)

Unnamed: 0      311
2020 2nd Q     6639
2020 3rd Q     6060
2020 4th Q     2961
2021 1st Q     4456
2021 2nd Q     5949
2021 3rd Q     6272
2021 4th Q     6479
2022 1st Q     7603
2022 2nd Q     6040
2022 3rd Q     5787
2022 4th Q     6135
2023 1st Q     8440
2023 2nd Q     7696
2023 3rd Q     9019
2023 4th Q     8809
2024 1st Q    10505
2024 2nd Q     9509
2024 3rd Q     7132
Name: 5, dtype: object

In [5]:
## import one OCGS grievance file

df1 = pd.read_csv("OCGS_data/OCGS_FY20_Q3.csv")

In [6]:
## call first OCGS df

df1.head()

  GRIEVABLE CATEGORIES  Unnamed: 1
0   Classification/SRG         102
1             Clothing          32
2           Commissary          83
3  Correspondence/Mail         189
4           Employment         401

In [7]:
## import FY20 Q2 data

df2 = pd.read_csv("OCGS_data/OCGS_FY20_Q2.csv")

In [8]:
## combine Q2 and Q3

pd.concat([df1, df2])

                     GRIEVABLE CATEGORIES  Unnamed: 1
0                      Classification/SRG         102
1                                Clothing          32
2                              Commissary          83
3                     Correspondence/Mail         189
4                              Employment         401
5                           Environmental         538
6                                    Food         187
7                          Inmate Account         206
8                               Jail Time          97
9                                 Laundry          16
10                            Law Library          56
11  Medical\r(DOC RELATED & H&H\rRELATED)        1741
12                          Mental Health         135
13                       Personal Hygiene          55
14                                  Phone          42
15                               Programs          22
16                               Property         235
17                             Recreation          27
18                               Religion          41
19                    Rules & Regulations           5
20                                 School           2
21                                 Search          53
22                        Social Services          72
23                         Transportation          18
24                                  Visit         163
25                          Other Request         403
0                      Classification/SRG         128
1                                Clothing          36
2                              Commissary         116
3                     Correspondence/Mail         235
4                              Employment         370
5                           Environmental         414
6                                    Food         258
7                          Inmate Account         267
8                               Jail Time          92
9                                 Laundry          24
10                            Law Library          52
11  Medical\r(DOC RELATED & H&H\rRELATED)        1702
12                          Mental Health         169
13                       Personal Hygiene          55
14                                  Phone          39
15                               Programs          50
16                               Property         233
17                             Recreation          25
18                               Religion          78
19                    Rules & Regulations           4
20                                 School           8
21                                 Search          87
22                        Social Services         106
23                         Transportation          28
24                                  Visit         181
25                          Other Request         445

In [9]:
## recognize grievable categories as strings

df1['GRIEVABLE CATEGORIES'].astype(str)

0                        Classification/SRG
1                                  Clothing
2                                Commissary
3                       Correspondence/Mail
4                                Employment
5                             Environmental
6                                      Food
7                            Inmate Account
8                                 Jail Time
9                                   Laundry
10                              Law Library
11    Medical\r(DOC RELATED & H&H\rRELATED)
12                            Mental Health
13                         Personal Hygiene
14                                    Phone
15                                 Programs
16                                 Property
17                               Recreation
18                                 Religion
19                      Rules & Regulations
20                                   School
21                                   Search
22                          Social Services
23                           Transportation
24                                    Visit
25                            Other Request
Name: GRIEVABLE CATEGORIES, dtype: object

In [10]:
## recognize count of grievances as integers

df1['Unnamed: 1'].astype(int64)

NameError: name 'int64' is not defined

In [12]:
## import full dataframe of OCGS grievances by submission type

submission_type_df = pd.read_csv("OCGS_grievances_by_type.csv")

In [14]:
## call OCGS grievance submissions df

submission_type_df

,Unnamed: 0,2020 2nd Q,2020 3rd Q,2020 4th Q,2021 1st Q,2021 2nd Q,2021 3rd Q,2021 4th Q,2022 1st Q,2022 2nd Q,2022 3rd Q,2022 4th Q,2023 1st Q,2023 2nd Q,2023 3rd Q,2023 4th Q,2024 1st Q,2024 2nd Q,2024 3rd Q
0,Classification/SRG,128,102,44,85,63,43,31,32,24,32,31,31,67,47,69,75,62,76
1,Clothing,36,32,13,21,51,61,45,40,52,33,59,59,54,52,71,95,117,111
2,Commissary,116,83,83,111,146,193,140,166,97,102,430,321,303,345,352,384,307,240
3,Correspondence/Mail,235,189,198,316,397,387,440,501,314,264,245,262,310,415,300,336,428,287
4,Employment,370,401,347,306,208,183,98,99,160,78,112,144,184,144,153,165,197,139
5,Environmental,414,538,402,538,979,919,628,625,648,448,321,564,507,484,560,842,718,516
6,Food,258,187,133,217,307,304,331,357,306,224,242,381,342,400,416,518,442,463
7,Person in Custody Account,267,206,143,187,196,194,241,223,223,232,158,201,250,183,218,186,126,114
8,Jail Time,92,97,12,18,12,25,43,17,18,22,38,51,55,74,53,43,52,44
9,Language Access,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,2,2,0
10,Laundry,24,16,14,23,38,47,72,55,17,25,29,51,48,42,41,86,96,55
11,Law Library,52,56,60,98,112,124,158,190,125,147,121,130,139,189,99,145,187,121
12,Medical\n(DOC RELATED & H&H RELATED),1702,1741,1007,1091,1495,1612,1993,2208,1965,1720,"1,456","2,058","2,046","1,992","1,956","2,255","2,215","1,670"
13,Mental Health,169,135,101,180,260,285,325,318,298,300,239,333,344,374,403,425,332,198
14,Personal Hygiene,55,55,53,119,154,133,139,138,74,80,113,151,162,210,150,172,183,137
15,Phone,39,42,31,44,62,58,48,57,72,49,29,45,53,56,52,52,57,73
16,Programs,50,22,16,25,52,84,125,151,89,90,69,76,43,61,73,129,105,80
17,Property,233,235,136,177,183,160,212,171,165,157,171,190,191,210,200,234,172,211
18,Recreation,25,27,20,44,102,154,153,128,109,106,160,114,108,123,140,254,194,129
19,Religion,78,41,22,27,39,26,38,62,33,31,66,82,98,139,165,162,120,112
20,Rules & Regulations,4,5,4,3,5,4,3,2,3,1,0,2,0,1,2,1,10,3
21,School,8,2,1,0,1,0,4,3,2,7,6,5,11,4,2,7,8,2
22,Search,87,53,31,64,45,19,10,3,16,26,36,56,70,82,68,54,95,57
23,Social Services,106,72,51,77,79,106,106,74,44,41,69,91,89,73,63,88,76,47
24,Tablet,0,0,0,0,0,0,0,0,0,0,47,9,30,106,134,146,197,217
25,Transportation,28,18,2,6,7,15,11,18,13,16,23,34,26,29,33,39,24,27
26,Visit,181,163,108,94,143,241,233,312,162,192,157,216,216,224,192,238,208,184
27,Other Request,445,403,222,298,408,352,356,466,416,448,541,"1,785",678,"1,613","1,568","2,443","1,917","1,478"